<form action="" method="post" class="form-example">
  <div class="form-example">
    <label for="name">Name of the recipe: </label>
    <input type="text" name="name" id="name">
  </div>
  <div class="form-example">
    <label for="description">Describe the recipe : </label>
    <input type="text" name="description" id="description">
  </div>
  <div class="form-example">
    <label for="rating">Give it a rating from 1 to 5 : </label>
    <input type="text" name="rating" id="rating">
  </div>
  <div class="form-example">
    <input type="submit" value="Save your recipe !">
  </div>
</form>
